a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden
}

li {
    list-style: none
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 6px
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: hsla(0, 0%, 49%, .7);
    -webkit-border-radius: 6px
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: hsla(0, 0%, 49%, .7);
    -webkit-border-radius: 6px
}

body, html {
    width: 100%
}

html {
    font-size: 10px
}

body, html {
    height: 100%
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

#he-plugin-h5 {
    height: 100%;
    background-color: #fff
}

#h5, #he-plugin-h5 {
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(74, 74, 74);
    margin: 0 auto
}

#h5 {
    background-size: 100% auto!important;
    min-height: 100%
}

.wh5-cp-copyright[data-v-bf7cd132] {
    text-align: center;
    padding: 2.5rem 0;
    font-size: 1rem;
    color: #fff;
    font-weight: 300
}

.wh5-cp-copyright a[data-v-bf7cd132] {
    text-decoration: none;
    color: #fff
}

.wh5-hl-header-location[data-v-69d591e4] {
    visibility: hidden;
}

.wh5-hl-refresh-time[data-v-69d591e4] {
    float: right;
    font-size: 1.2rem;
    margin-top: .5rem
}

.wh5-h-hour[data-v-77ecf488] {
    padding-bottom: .8rem;
    padding-top: 1.2rem
}

.wh5-h-hour .wh5-h-hour-title[data-v-77ecf488] {
    text-align: left;
    font-size: 1.4rem;
    padding: 0 1.6rem 1rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .22)
}

.wh5-h-wrapper[data-v-77ecf488] {
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch
}

.wh5-h-wrapper[data-v-77ecf488]::-webkit-scrollbar {
    display: none
}

ul.wh5-h-content[data-v-77ecf488] {
    font-size: 1.2rem;
    padding: 1rem 0
}

ul.wh5-h-content>li[data-v-77ecf488] {
    float: left;
    list-style: none;
    width: 4.5rem;
    margin-bottom: 1em
}

ul.wh5-h-content>li.wh5-h-hour-72[data-v-77ecf488] {
    width: 9rem;
    cursor: pointer
}

ul.wh5-h-content>li img[data-v-77ecf488] {
    width: 2.2rem;
    margin: .7rem 0
}

ul.wh5-h-content>li.wh5-h-hour-72 img[data-v-77ecf488] {
    padding-top: 1rem;
    margin-bottom: 0;
    width: 3.2rem
}

.wh5-f-forecast[data-v-6593ce3e] {
    padding-top: 1.2rem;
    font-size: 1.2rem;
    position: relative
}

.wh5-f-forecast .wh5-f-forecast-title[data-v-6593ce3e] {
    text-align: left;
    font-size: 1.4rem;
    padding: 0 1.6rem 1rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .22)
}

[data-v-6593ce3e]:after, [data-v-6593ce3e]:before {
    box-sizing: border-box
}

.wh5-f-row[data-v-6593ce3e]:before {
    display: table;
    content: " "
}

.wh5-f-row[data-v-6593ce3e]:after {
    display: table;
    clear: both;
    content: " "
}

.wh5-f-col-2[data-v-6593ce3e] {
    display: block;
    float: left;
    position: relative;
    width: 12.5%
}

.wh5-f-col-2>div[data-v-6593ce3e] {
    border-right: 1px dashed hsla(0, 0%, 100%, .22)
}

.wh5-f-col-2:last-child>div[data-v-6593ce3e] {
    border-right: 0
}

.wh5-f-col-6[data-v-6593ce3e] {
    display: block;
    float: left;
    position: relative;
    width: 49%
}

.wh5-f-forecast-list[data-v-6593ce3e] {
    padding-top: 1.1rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .22)
}

.wh5-f-forecast-list .wh5-f-week[data-v-6593ce3e] {
    margin: 1.4rem 0 0;
    font-size: 1.4rem;
    font-weight: 300
}

.wh5-f-forecast-list .wh5-f-n[data-v-6593ce3e] {
    margin-top: 13.1rem
}

.wh5-f-forecast-list .wh5-f-dir[data-v-6593ce3e] {
    overflow: hidden;
    padding: 0 0 1rem;
    font-weight: 300
}

.wh5-f-forecast-list .wh5-f-dir.wh5-f-none[data-v-6593ce3e] {
    font-size: .9rem;
    margin-bottom: .5rem
}

.wh5-f-forecast-list .wh5-f-sc[data-v-6593ce3e] {
    overflow: hidden;
    padding: 0 0 1.9rem;
    font-weight: 300;
    font-size: 1rem
}

.wh5-f-forecast-list img[data-v-6593ce3e] {
    width: 1.8rem;
    margin: .9rem 0 .7rem
}

.wh5-f-forecast-list .wh5-f-current .wh5-f-dir[data-v-6593ce3e], .wh5-f-forecast-list .wh5-f-current .wh5-f-sc[data-v-6593ce3e], .wh5-f-forecast-list .wh5-f-current .wh5-f-week[data-v-6593ce3e], .wh5-f-forecast-list .wh5-f-current[data-v-6593ce3e], .wh5-f-forecast-list .wh5-f-current div[data-v-6593ce3e] {
    color: #ffd43a;
    font-weight: 700
}

#wh5-f-tmp[data-v-6593ce3e] {
    position: absolute;
    top: 10rem;
    width: 100%
}

.wh5-f-more-info{
    visibility: hidden;
}

.wh5-l-lifestyle[data-v-b8230f20] {
    padding-top: 1.2rem;
    font-size: 1.2rem;
    position: relative
}

.wh5-l-lifestyle .wh5-l-lifestyle-title[data-v-b8230f20] {
    text-align: left;
    text-overflow: inherit;
    font-size: 1.4rem;
    padding: 0 1.6rem 1rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1)
}

table.wh5-l-table[data-v-b8230f20] {
    width: 100%;
    border-collapse: collapse
}

table.wh5-l-table td[data-v-b8230f20] {
    padding: 1.95rem 2.4rem 1.2rem;
    font-size: 1.4rem;
    cursor: pointer
}

table.wh5-l-table td>div[data-v-b8230f20] {
    margin-bottom: 1rem
}

table.wh5-l-table td img[data-v-b8230f20], table.wh5-l-table td span[data-v-b8230f20] {
    display: inline-block;
    vertical-align: middle
}

table.wh5-l-table td img[data-v-b8230f20] {
    width: .7rem
}

table.wh5-l-table td[data-v-b8230f20]:nth-child(3n+1) {
    width: 34.7%;
    text-align: right;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
    border-bottom: 1px solid hsla(0, 0%, 100%, .1)
}

table.wh5-l-table td[data-v-b8230f20]:nth-child(3n+2) {
    width: 30.6%;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid hsla(0, 0%, 100%, .1);
    border-bottom: 1px solid hsla(0, 0%, 100%, .1)
}

table.wh5-l-table td[data-v-b8230f20]:nth-child(3n+3) {
    width: 34.7%;
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1)
}

table.wh5-l-white-table[data-v-b8230f20] {
    width: 100%;
    border-collapse: collapse
}

table.wh5-l-white-table td[data-v-b8230f20] {
    padding: 1.95rem 2.4rem 1.2rem;
    font-size: 1.4rem;
    cursor: pointer
}

table.wh5-l-white-table td>div[data-v-b8230f20] {
    margin-bottom: 1rem
}

table.wh5-l-white-table td span[data-v-b8230f20] {
    display: inline-block;
    vertical-align: middle
}

table.wh5-l-white-table td img[data-v-b8230f20] {
    display: inline-block;
    vertical-align: middle;
    width: .7rem
}

table.wh5-l-white-table td[data-v-b8230f20]:nth-child(3n+1) {
    width: 34.7%;
    text-align: right;
    border-right: 1px solid rgba(0, 0, 0, .22);
    border-bottom: 1px solid rgba(0, 0, 0, .22)
}

table.wh5-l-white-table td[data-v-b8230f20]:nth-child(3n+2) {
    width: 30.6%;
    padding-left: 0;
    padding-right: 0;
    border-right: 1px solid rgba(0, 0, 0, .22);
    border-bottom: 1px solid rgba(0, 0, 0, .22)
}

table.wh5-l-white-table td[data-v-b8230f20]:nth-child(3n+3) {
    width: 34.7%;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, .22)
}

.wh5-a-alarm[data-v-038cec40] {
    cursor: pointer;
    clear: both;
    padding-top: 1.32rem;
    padding-bottom: 1.32rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .22);
    text-align: left
}

.wh5-a-alarm svg[data-v-038cec40] {
    margin-left: 1.4em;
    width: 1.4em;
    height: 1.4em;
    vertical-align: top
}

.wh5-a-alarm span[data-v-038cec40] {
    font-size: 1.3em;
    color: "#fff";
    margin-left: .5em;
    vertical-align: sub
}

.wh5-a-alarm img[data-v-038cec40] {
    width: .8em;
    float: right;
    margin-right: 1.6em;
    vertical-align: text-top
}

.wh5-a-rain[data-v-40c7f1e3] {
    cursor: pointer;
    clear: both;
    padding-top: 1.32rem;
    padding-bottom: 1.32rem;
    text-align: left
}

.wh5-a-rain svg[data-v-40c7f1e3] {
    margin-left: 1.4em;
    width: 1.4em;
    height: 1.4em;
    vertical-align: top
}

.wh5-a-rain span[data-v-40c7f1e3] {
    font-size: 1.3em;
    color: "#fff";
    margin-left: .5em;
    vertical-align: sub
}

.wh5-a-rain img[data-v-40c7f1e3] {
    width: .8em;
    float: right;
    margin-right: 1.6em;
    vertical-align: text-top
}

.wh5-nc-now-cond[data-v-779f0e29] {
    padding: 0px 1rem 2rem;
    clear: both;
    text-align: left;
    position: relative;
    overflow: auto
}

.wh5-nc-tmp[data-v-779f0e29] {
    font-size: 6.4rem;
    font-weight: lighter;
    padding: 0px 0
}

.wh5-nc-cond img[data-v-779f0e29] {
    display: inline-block;
    vertical-align: middle;
    height: 3.2rem
}

.wh5-nc-cond span[data-v-779f0e29] {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.2rem;
    margin-left: .2rem
}

.wh5-nc-aqi[data-v-779f0e29] {
    display: none;
    background-color: hsla(0, 0%, 100%, .12);
    font-size: 1.4rem;
    font-weight: lighter;
    padding: .4rem 1rem .4rem .8rem;
    border-radius: .4rem;
    margin-top: .8rem;
    cursor: pointer;
    float: left;
    clear: both
}

.wh5-nc-aqi span[data-v-779f0e29] {
    display: inline-block;
    margin-right: .5rem
}

.wh5-nc-aqi img[data-v-779f0e29] {
    display: inline-block;
    vertical-align: middle;
    width: .7rem
}

.wh5-nc-aqi span.val-1[data-v-779f0e29] {
    color: #94ce6f
}

.wh5-nc-aqi span.val-2[data-v-779f0e29] {
    color: #e4c600
}

.wh5-nc-aqi span.val-3[data-v-779f0e29] {
    color: #e59c3b
}

.wh5-nc-aqi span.val-4[data-v-779f0e29] {
    color: #c76464
}

.wh5-nc-aqi span.val-5[data-v-779f0e29] {
    color: #8a4daa
}

.wh5-nc-aqi span.val-6[data-v-779f0e29] {
    color: #974163
}

.wh5-nc-rain[data-v-779f0e29] {
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: .4rem;
    margin-top: .8rem;
    float: left;
    cursor: pointer;
    clear: both
}

.wh5-nc-rain img[data-v-779f0e29] {
    height: 1.6rem;
    margin-left: .5rem;
    margin-top: .5rem;
    margin-right: .2rem
}

.wh5-nc-rain img[data-v-779f0e29], .wh5-nc-rain span[data-v-779f0e29] {
    display: inline-block;
    vertical-align: middle
}

.wh5-nb-now-base[data-v-311a61eb] {
    width: 100%;
    padding-top: 1em;
    clear: both;
    overflow: auto;
    padding-bottom: 1em
}

.wh5-nb-base-item[data-v-311a61eb] {
    width: 25%;
    float: left
}

.wh5-nb-base-item>div[data-v-311a61eb] {
    font-size: 1.4rem;
    color: #FFFFFFBB;
    padding: .5rem;
    text-align: center
}

.wh5-nb-base-item>div[data-v-311a61eb]:last-child {
    color: #fff
}

.wh5-sunrise[data-v-9685435e] {
    padding-bottom: .8rem;
    padding-top: 1.2rem
}

.wh5-sunrise .wh5-sunrise-title[data-v-9685435e] {
    text-align: left;
    font-size: 1.4rem;
    padding: 0 1.6rem 1rem;
    border-bottom: 1px solid hsla(0, 0%, 100%, .22)
}

#moon-rise[data-v-9685435e], #sun-rise[data-v-9685435e] {
    width: 100%;
    height: 9em
}

span[data-v-9685435e] {
    color: #4a4a4a;
    display: block
}

.wh5-h-wrapper[data-v-9685435e] {
    display: table;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em
}

.sun-container[data-v-9685435e] {
    text-align: center;
    display: table-cell
}

.rise-info[data-v-9685435e] {
    display: table;
    width: 100%;
    font-size: 1.2em
}

.rise-info div[data-v-9685435e] {
    display: table-cell;
    width: 50%
}

.rise-info div[data-v-9685435e]:first-child {
    padding-right: 2em
}

.rise-info div[data-v-9685435e]:last-child {
    padding-left: 2em
}

.location[data-v-d3b56a92] {
    background-color: #fafafa;
    margin: 0 auto;
    height: 10rem
}

.location-header[data-v-d3b56a92] {
    font-size: 1.7rem;
    padding: 1.7rem 1.2rem;
    text-align: center;
    background-color: #4a90e2;
    position: relative
}

.location-header .back[data-v-d3b56a92] {
    width: 5rem;
    padding: 1.6rem 0;
    position: absolute;
    left: 0;
    top: 0
}

.location-header .back img[data-v-d3b56a92] {
    width: 1rem
}

.content[data-v-d3b56a92] {
    padding: 1.3rem 1rem
}

div.text[data-v-d3b56a92] {
    position: relative;
    text-align: center
}

input[data-v-d3b56a92] {
    width: 100%;
    height: 4.4rem;
    border-radius: .2rem;
    background: #e0e0e0 url(https://cdn.heweather.com/img/plugin/190516/icon/h5/search.png) no-repeat 97%;
    background-size: auto 40%;
    border: .1rem solid #e0e0e0;
    text-align: left;
    text-indent: 1rem;
    font-size: 1.8rem;
    color: #9b9b9b
}

input[data-v-d3b56a92]:focus, input[data-v-d3b56a92]:hover {
    box-shadow: none;
    border: .1rem solid #e0e0e0;
    background-color: #fff;
    outline: none;
    -moz-outline-color: transparent
}

.current-text[data-v-d3b56a92] {
    margin-top: 1.6rem;
    text-align: left;
    font-size: 1.2rem;
    color: #9b9b9b;
}

.current-location[data-v-d3b56a92] {
    background: #fff url(https://cdn.heweather.com/img/plugin/190516/icon/h5/location-auto.png) no-repeat 12%;
    background-size: auto 40%;
    width: 11rem;
    padding: 1rem;
    color: #4a90e2;
    font-size: 1.8rem;
    border-radius: .2rem;
    border: .1rem solid #e0e0e0;
    margin-top: .6rem;
    cursor: pointer
}

.hot-text[data-v-d3b56a92] {
    margin-top: 1.4rem;
    text-align: left;
    font-size: 1.2rem;
    color: #9b9b9b;
    margin-bottom: .6rem
}

ul[data-v-d3b56a92] {
    list-style: none;
    min-height: 30rem
}

ul li[data-v-d3b56a92] {
    float: left;
    width: 30.3%;
    padding: 1rem 0;
    border: .1rem solid #e0e0e0;
    margin-left: 3.6%;
    margin-top: .7rem;
    margin-bottom: 1.7rem;
    border-radius: .2rem;
    color: #4a4a4a;
    cursor: pointer
}

ul li[data-v-d3b56a92]:nth-child(3n+1) {
    margin-left: 0
}

.search-list[data-v-d3b56a92] {
    border: .1rem solid #e0e0e0;
    border-radius: .2rem
}

.search-list-item[data-v-d3b56a92] {
    text-align: left;
    border-bottom: .1rem solid #e0e0e0;
    color: #9b9b9b;
    padding: 1rem 0 1rem 1.5rem;
    font-size: 1.8rem;
    background-color: #fff;
    cursor: pointer
}

.search-list-item .color[data-v-d3b56a92] {
    color: #4a4a4a
}

.search-list-item[data-v-d3b56a92]:last-child {
    border-bottom: none
}